body {
	font-family: tahoma, sans, sans-serif;
	background: #eee;
	color: #000;
}
h1, h2, h3, h4, h5, h6, p { text-align: center; }
h2 { margin-top: 0; }
h1 { margin-bottom: 0; }
h3 { margin: 0; }
a { color: #3385e4; }
a:visited { color: #3368e4; }
a:hover { color: #33b7e4; }
a:active { color: #18b7ca; }
table, form {
	margin: 0 auto;
}
table { background: #eee; margin-bottom: 15px; }
table th { background: #3385e4; color: #fff; font-weight: normal; padding: 1px 5px; vertical-align: bottom; }
table th a { color: #fff; font-size: 90%; }
table td { background: #fff; padding: 1px 4px; }
table td.centre { text-align: center; }
table .date { text-align: right; }
table .title { font-weight: bold; }
td.user { white-space: nowrap; max-width: 250px; overflow: hidden; }
td.yes { background: #d1f3d1; color: #77cc77; font-weight: bold; }
td.no { background: #ffccca; color: #8b5352; font-weight: bold; }
td.nomatter { background: #daa; color: #fff; font-weight: bold; }
.scheduleform-item {
	width: 200px;
	display: block;
	font-weight: bold;
	float: left;
}
input[type=checkbox] { display: none; }
input[type=checkbox] + label { 
	background: #ffccca; 
	color: #8b5352;
	padding: 1px 4px; 
	margin: 2px 2px 1px 0px;
}
input[type=checkbox] + label:before { content: "☐ "; }
input[type=checkbox]:checked + label { 
	background: #d1f3d1; 
	color: #3b5133;
	font-weight: bold; 
}
input[type=checkbox]:checked + label:before { content: "☑ "; }
input[type=checkbox]:disabled + label {
	background: #cbb;
	color: #988;
}
input[type=checkbox]:disabled:checked + label {
	background: #bcb;
	color: #898;
}
form { width: 80%; background: none; padding: 15px 10px; }
form#login > fieldset { display: none; }
fieldset { border: solid 1px #aaa; border-left-width: 10px; margin-bottom: 10px; background: #ccc; }
legend { font-weight: bold; }
legend b { font-size: 125%; text-decoration: underline; }
input, label, textarea { width: 99%; margin-bottom: 3px; }
input, textarea {
	background: #eee; border: 1px solid #aaa;
	padding: 1px 4px;
}
input:focus, textarea:focus {
	background: #fff;
}
input[type=submit] {
	background: #3385e4; color: #fff; border: 1px solid #ccc;
}
input[type=submit], input[type=checkbox] { width: auto; }
.clear { clear: both; }
.total td { text-align: center; }
fieldset .time { width: 100%; display: block; }
fieldset .time input { width: 50px; text-align: right; }
fieldset p { margin: 0; text-align: left; font-size: 90%; margin-bottom: 3px; }
.distanceitself { margin-bottom: 20px; }
.modified { font-size: 80%; }
.left { text-align: left !important; margin-top: 25px; }
td.nojoin {
	color: #eee;
}
#topmenu { position: absolute; top: 0; right: 0; padding: 5px; font-size: 90%; }
#footer { width: 70%; margin: 0 auto; padding: 0 30px; border-top: 1px solid #ddd; font-size: 90%; }
iframe { margin: 0 auto; width: 600px; }
.comment { word-break: break-all; }
